/**
 * @file The app entry style
 * @author xxx
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {

    font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif;
}

.okam-inline {
    display: inline;
}
